.series{
    padding: 10px;
    text-align: center;
}
 
.contenido-serie{
    width: 280px;
    padding: 20px;
    display: inline-block;
    color:#646CFF;
    vertical-align: top;
}
.imagen-serie-popular{
    width: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.contenido-serie:hover{
    cursor: pointer;
    transform: scale(1.3);
    backdrop-filter: blur(8px);
    background-color: #9ba1fb;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.titulo-serie{
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 10px;
}
.titulo-principal-serie{
    color: white;
}