.popular{
    padding: 10px;
    text-align: center;
}
.popular-principal{
  color:white;
}
.popular-titulo{
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 10px;
}
.popular-contenido:hover{
    cursor: pointer;
    transform: scale(1.3);
    backdrop-filter: blur(8px);
    background-color: #9ba1fb;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.popular-contenido{
    width: 280px;
    padding: 20px;
    display: inline-block;
    color:#646CFF;
    vertical-align: top;
}
.popular-imagen{
    width: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}